h1{
    color:rgb(0, 0, 0);
    font: bold 60px "Times New Roman", Times, serif;
}

.box-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%
}

.box-3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.container{
    text-align:center;
}

h2{
    text-decoration: underline;
}

.intro{
    text-align:center;
    font: bold 40px "Times New Roman", Times, serif;
    color:black;
}

.info{
    text-align:left;
    margin-left: 23.5em;
    margin-right: 23.5em;
    font: 20px "Times New Roman", Times, serif;
    color: black
}